/*——————————————————————
[COLA CSS]
——————————————————————-*/


/* TYPOGRAPHY
   —————————————————————— */
/* Lists */
.li-ustyle {padding-left: 0 !important; list-style: none !important}
.li-in {padding-left: 0; list-style: none !important}
.li-in-itm {display: inline-block !important}
.li-in-itm:not(:last-child) {margin-right: .5rem !important}


/* DISPLAY PROPERTY
   —————————————————————— */
.d-no {display: none !important}
.d-in {display: inline !important}
.d-in-blck {display: inline-block !important}
.d-blck {display: block !important}
.d-grid {display: grid !important}
.d-tbl {display: table !important}
.d-tbl-row {display: table-row !important}
.d-flx {display: flex !important}
.d-i-flx {display: inline-flex !important}


/* FLEX
   —————————————————————— */

/* Align Content */
.algn-cntnt-str {align-content: flex-start !important}
.algn-cntnt-cntr {align-content: center !important}
.algn-cntnt-end {align-content: flex-end !important}
.algn-cntnt-btwn {align-content: space-between !important}
.algn-cntnt-arnd {align-content: space-around !important}
.algn-cntnt-strch {align-content: stretch !important}

/* Align Items */
.algn-itms-str {align-items: flex-start !important}
.algn-itms-str {align-items: center !important}
.algn-itms-end {align-items: flex-end !important}
.algn-itms-base {align-items: baseline !important}
.algn-itms-strch {align-items: stretch !important}

/* Align Self */
.algn-slf-str {align-self: flex-start !important}
.algn-slf-cntr {align-self: center !important}
.algn-slf-end {align-self: flex-end !important}
.algn-slf-base {align-self: baseline !important}
.algn-slf-strch {align-self: stretch !important}

/* Direction */
.flx-row {flex-direction: row !important}
.flx-row-rvrs {flex-direction: row-reverse !important}
.flx-col {flex-direction: column !important}
.flx-col-rvrs {flex-direction: column-reverse !important}

/* Fill */
.flx-fll {flex: 1 1 auto !important}

/* Grow & Shrink */
.flx-grw0 {flex-grow: 0 !important}
.flx-grw1 {flex-grow: 1 !important}
.flx-shrnk0 {flex-shrink: 0 !important}
.flx-shrnk1 {flex-shrink: 1 !important}

/* Justify Content */
.jst-cntnt-str {justify-content: flex-start !important}
.jst-cntnt-cntr {justify-content: center !important}
.jst-cntnt-end {justify-content: flex-end !important}
.jst-cntnt-btwn {justify-content: space-between !important}
.jst-cntnt-arnd {justify-content: space-around !important}
.jst-cntnt-even {justify-content: space-evenly !important}

/* Media Object */
.flx-shrnk0 {flex-shrink: 0 !important}
.flx-shrnk1 {flex-shrink: 1 !important}

/* Order */
.ordr-1st {order: -1 !important}
.ordr0 {order: 0 !important}
.ordr1 {order: 1 !important}
.ordr2 {order: 2 !important}
.ordr3 {order: 3 !important}
.ordr4 {order: 4 !important}
.ordr5 {order: 5 !important}
.ordr-lst {order: 6 !important}

/* Wrap */
.flx-wrp {flex-wrap: wrap !important}
.flx-no-wrp {flex-wrap: nowrap !important}
.flx-wrp-rvrs {flex-wrap: wrap-reverse !important}


/* FLOAT
   —————————————————————— */
.flt-str {float: left !important}
.flt-no {float: none !important}
.flt-end {float: right !important}


/* INTERACTIONS
   —————————————————————— */

/* Text Selection */
.usr-slct-all {-webkit-user-select: all !important; -moz-user-select: all !important; user-select: all !important}
.usr-slc-ato {-webkit-user-select: auto !important; -moz-user-select: auto !important; user-select: auto !important}
.usr-slct-no {-webkit-user-select: none !important; -moz-user-select: none !important; user-select: none !important}

/* Pointer Events */
.pe-no {pointer-events: none !important}
.pe-ato {pointer-events: auto !important}



/* OPACITY
   —————————————————————— */
.opcty0 {opacity: 0 !important}
.opcty25 {opacity: .25 !important}
.opcty50 {opacity: .5 !important}
.opcty75 {opacity: .75 !important}
.opcty100 {opacity: 1 !important}


/* OVERFLOW
   —————————————————————— */
.oflo-auto {overflow: auto !important}
.oflo-vsbl {overflow: visible !important}
.oflo-invsbl {overflow: hidden !important}
.oflo-scroll {overflow: scroll !important}


/* SIZING
   —————————————————————— */

/* Width */
.w25 {width: 25% !important}
.w50 {width: 50% !important}
.w75 {width: 75% !important}
.w100 {width: 100% !important}
.wat {width: auto !important}
.mw100 {max-width: 100% !important}
.vw100 {width: 100vw !important}
.mv100 {min-width: 100vw !important}

/* Height */
.h25 {height: 25% !important}
.h50 {height: 50% !important}
.h75 {height: 75% !important}
.h100 {height: 100% !important}
.hat {height: auto !important}
.mh100 {max-height: 100% !important}
.vh100 {height: 100vh !important}
.mvh100 {min-height: 100vh !important}


/* TEXT
   —————————————————————— */
/* Text Alignment */
.tx-str {text-align: left !important}
.tx-ctr {text-align: center !important}
.tx-end {text-align: right !important}

/* Text Decoration */
.tx-dcr-no {text-decoration: none !important}
.tx-dcr-uline {text-decoration: underline !important}
.tx-dcr-thru {text-decoration: line-through !important}

/* Text Transform */
.tx-low {text-transform: lowercase !important}
.tx-up {text-transform: uppercase !important}
.tx-cap {text-transform: capitalize !important}

/* Font Weight & Style */
.fw-litr {font-weight: lighter !important}
.fw-lit {font-weight: 300 !important}
.fw-nrml {font-weight: 400 !important}
.fw-sbld {font-weight: 600 !important}
.fw-bld {font-weight: 700 !important}
.fw-bldr {font-weight: bolder !important}
.fst-ital {font-style: italic !important}
.fst-nrml {font-style: normal !important}


/* SPACING
   —————————————————————— */
/* Margin */
.m0 {margin: 0 !important}
.m1 {margin: .25rem !important}
.m2 {margin: .5rem !important}
.m3 {margin: 1rem !important}
.m4 {margin: 1.5rem !important}
.m5 {margin: 3rem !important}
.mt0 {margin-top: 0 !important}
.mt1 {margin-top: .25rem !important}
.mt2 {margin-top: .5rem !important}
.mt3 {margin-top: 1rem !important}
.mt4 {margin-top: 1.5rem !important}
.mt5 {margin-top: 3rem !important}
.mr0 {margin-right: 0 !important}
.mr1 {margin-right: .25rem !important}
.mr2 {margin-right: .5rem !important}
.mr3 {margin-right: 1rem !important}
.mr4 {margin-right: 1.5rem !important}
.mr5 {margin-right: 3rem !important}
.mb0 {margin-bottom: 0 !important}
.mb1 {margin-bottom: .25rem !important}
.mb2 {margin-bottom: .5rem !important}
.mb3 {margin-bottom: 1rem !important}
.mb4 {margin-bottom: 1.5rem !important}
.mb5 {margin-bottom: 3rem !important}
.ml0 {margin-left: 0 !important}
.ml1 {margin-left: .25rem !important}
.ml2 {margin-left: .5rem !important}
.ml3 {margin-left: 1rem !important}
.ml4 {margin-left: 1.5rem !important}
.ml5 {margin-left: 3rem !important}

/* Padding */
.p0 {padding: 0 !important}
.p1 {padding: .25rem !important}
.p2 {padding: .5rem !important}
.p3 {padding: 1rem !important}
.p4 {padding: 1.5rem !important}
.p5 {padding: 3rem !important}
.pt0 {padding-top: 0 !important}
.pt1 {padding-top: .25rem !important}
.pt2 {padding-top: .5rem !important}
.pt3 {padding-top: 1rem !important}
.pt4 {padding-top: 1.5rem !important}
.pt5 {padding-top: 3rem !important}
.pr0 {padding-right: 0 !important}
.pr1 {padding-right: .25rem !important}
.pr2 {padding-right: .5rem !important}
.pr3 {padding-right: 1rem !important}
.pr4 {padding-right: 1.5rem !important}
.pr5 {padding-right: 3rem !important}
.pb0 {padding-bottom: 0 !important}
.pb1 {padding-bottom: .25rem !important}
.pb2 {padding-bottom: .5rem !important}
.pb3 {padding-bottom: 1rem !important}
.pb4 {padding-bottom: 1.5rem !important}
.pb5 {padding-bottom: 3rem !important}
.pl0 {padding-left: 0 !important}
.pl1 {padding-left: .25rem !important}
.pl2 {padding-left: .5rem !important}
.pl3 {padding-left: 1rem !important}
.pl4 {padding-left: 1.5rem !important}
.pl5 {padding-left: 3rem !important}


/* BORDERS
   —————————————————————— */

/* Additive */
.brdr {border: solid 1px #e7e7e7 !important}
.brdr-top {border-top: solid 1px #e7e7e7 !important}
.brdr-end {border-right: solid 1px #e7e7e7 !important}
.brdr-btm {border-bottom: solid 1px #e7e7e7 !important}
.brdr-str {border-left: solid 1px #e7e7e7  !important}

/* Subtractive */
.brdr0 {border: none !important}
.brdr0-top {border-top: none !important}
.brdr0-end {border-right: none !important}
.brdr0-btm {border-bottom: none !important}
.brdr0-str {border-left: none !important}

/* Radius */
.rnd {border-radius: .375rem !important}
.rnd-top {border-radius: .375rem .37rem 0 0 !important}
.rnd-end {border-radius: .375rem 0 0 .375rem !important}
.rnd-btm {border-radius: 0 0 .375rem .375rem !important}
.rnd-str {border-radius: 0 .375rem .375rem 0 !important}
.rnd-circ {border-radius: 50% !important}
.rnd-pill {border-radius: 800px !important}


/* VERTICAL ALIGNMENT
   —————————————————————— */
.vrt-base {vertical-align: baseline !important}
.vrt-top {vertical-align: top !important}
.vrt-mid {vertical-align: middle !important}
.vrt-btm {vertical-align: bottom !important}
.vrt-tx-top {vertical-align: text-top !important}
.vrt-tx-btm {vertical-align: text-bottom !important}


/* VISIBILITY
   —————————————————————— */
.vsbl {visibility: visible !important}
.invsbl {visibility: hidden !important}
