/*——————————————————————
[COLA CSS]
——————————————————————-*/


/* VARIABLES
   —————————————————————— */
:root {
   --red: red;
   --orange: orange;
   --yellow: yellow;
   --green: green;
   --blue: blue;
   --purple: purple;
   --pink: pink;
   --black: black;
   --dark: #22272e;
   --grey: grey;
   --white: white;
   --light: #e7e7e7;

   --spacer-1: .25rem;
   --spacer-2: .5rem;
   --spacer-3: 1rem;
   --spacer-4: 1.5rem;
   --spacer-5: 3rem;

   --radius: .375rem;
   --border: solid 1px #e7e7e7;

   --shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
   --shadow-sm: 0 .125rem .25rem rgba(0, 0, 0, .075);
   --shadow-lg: 0 1rem 3rem rgba(0, 0, 0, .175);
}


/* COLORS
   —————————————————————— */

/* Background */
.red {background: var(--red) !important}
.orange {background: var(--orange) !important}
.yellow {background: var(--yellow) !important}
.green {background: var(--green) !important}
.blue {background: var(--blue) !important}
.purple {background: var(--purple) !important}
.pink {background: var(--pink) !important}
.black {background: var(--black) !important}
.dark {background: var(--dark) !important}
.grey {background: var(--grey) !important}
.white {background: var(--white) !important}
.light {background: var(--light) !important}

/* Text */
.tx-red {color: var(--red) !important}
.tx-orange {color: var(--orange) !important}
.tx-yellow {color: var(--yellow) !important}
.tx-green {color: var(--green) !important}
.tx-blue {color: var(--blue) !important}
.tx-purple {color: var(--purple) !important}
.tx-pink {color: var(--pink) !important}
.tx-black {color: var(--black) !important}
.tx-dark {color: var(--dark) !important}
.tx-grey {color: var(--grey) !important}
.tx-white {color: var(--white) !important}
.tx-light {color: var(--light) !important}


/* TYPOGRAPHY
   —————————————————————— */

/* Lists */
.li-ustyle {padding-left: 0 !important; list-style: none !important}
.li-in {padding-left: 0; list-style: none !important}
.li-in-itm {display: inline-block !important}
.li-in-itm:not(:last-child) {margin-right: .5rem !important}


/* DISPLAY PROPERTY
   —————————————————————— */
.d-no {display: none !important}
.d-in {display: inline !important}
.d-in-blck {display: inline-block !important}
.d-blck {display: block !important}
.d-grid {display: grid !important}
.d-tbl {display: table !important}
.d-tbl-row {display: table-row !important}
.d-flx {display: flex !important}
.d-i-flx {display: inline-flex !important}


/* FLEX
   —————————————————————— */

/* Align Content */
.algn-cntnt-str {align-content: flex-start !important}
.algn-cntnt-cntr {align-content: center !important}
.algn-cntnt-end {align-content: flex-end !important}
.algn-cntnt-btwn {align-content: space-between !important}
.algn-cntnt-arnd {align-content: space-around !important}
.algn-cntnt-strch {align-content: stretch !important}

/* Align Items */
.algn-itms-str {align-items: flex-start !important}
.algn-itms-str {align-items: center !important}
.algn-itms-end {align-items: flex-end !important}
.algn-itms-base {align-items: baseline !important}
.algn-itms-strch {align-items: stretch !important}

/* Align Self */
.algn-slf-str {align-self: flex-start !important}
.algn-slf-cntr {align-self: center !important}
.algn-slf-end {align-self: flex-end !important}
.algn-slf-base {align-self: baseline !important}
.algn-slf-strch {align-self: stretch !important}

/* Direction */
.flx-row {flex-direction: row !important}
.flx-row-rvrs {flex-direction: row-reverse !important}
.flx-col {flex-direction: column !important}
.flx-col-rvrs {flex-direction: column-reverse !important}

/* Fill */
.flx-fll {flex: 1 1 auto !important}

/* Grow & Shrink */
.flx-grw0 {flex-grow: 0 !important}
.flx-grw1 {flex-grow: 1 !important}
.flx-shrnk0 {flex-shrink: 0 !important}
.flx-shrnk1 {flex-shrink: 1 !important}

/* Justify Content */
.jst-cntnt-str {justify-content: flex-start !important}
.jst-cntnt-cntr {justify-content: center !important}
.jst-cntnt-end {justify-content: flex-end !important}
.jst-cntnt-btwn {justify-content: space-between !important}
.jst-cntnt-arnd {justify-content: space-around !important}
.jst-cntnt-even {justify-content: space-evenly !important}

/* Order */
.ordr-1st {order: -1 !important}
.ordr0 {order: 0 !important}
.ordr1 {order: 1 !important}
.ordr2 {order: 2 !important}
.ordr3 {order: 3 !important}
.ordr4 {order: 4 !important}
.ordr5 {order: 5 !important}
.ordr-lst {order: 6 !important}

/* Wrap */
.flx-wrp {flex-wrap: wrap !important}
.flx-no-wrp {flex-wrap: nowrap !important}
.flx-wrp-rvrs {flex-wrap: wrap-reverse !important}


/* FLOAT
   —————————————————————— */
.flt-str {float: left !important}
.flt-no {float: none !important}
.flt-end {float: right !important}


/* INTERACTIONS
   —————————————————————— */

/* Text Selection */
.usr-slct-all {-webkit-user-select: all !important; -moz-user-select: all !important; user-select: all !important}
.usr-slct-auto {-webkit-user-select: auto !important; -moz-user-select: auto !important; user-select: auto !important}
.usr-slct-no {-webkit-user-select: none !important; -moz-user-select: none !important; user-select: none !important}

/* Pointer Events */
.pe-no {pointer-events: none !important}
.pe-auto {pointer-events: auto !important}

/* Cursors */
.crsr-alias {cursor: alias !important}
.crsr-all {cursor: all-scroll !important}
.crsr-auto {cursor: auto !important}
.crsr-cell {cursor: cell !important}
.crsr-ctx-menu {cursor: context-menu !important}
.crsr-cl-rsz {cursor: col-resize !important}
.crsr-cp {cursor: copy !important}
.crsr-crsshr {cursor: crosshair !important}
.crsr-dflt {cursor: default !important}
.crsr-e-rsz {cursor: e-resize !important}
.crsr-ew-rsz {cursor: ew-resize !important}
.crsr-grb {cursor: grab !important}
.crsr-grbng {cursor: grabbing !important}
.crsr-help {cursor: help !important}
.crsr-mv {cursor: move !important}
.crsr-n-rsz {cursor: n-resize !important}
.crsr-ne-rsz {cursor: ne-resize !important}
.crsr-nesw-rsz {cursor: nesw-resize !important}
.crsr-ns-rsz {cursor: ns-resize !important}
.crsr-nw-rsz {cursor: nw-resize !important}
.crsr-nwse-rsz {cursor: nwse-resize !important}
.crsr-no-drp {cursor: no-drop !important}
.crsr-no {cursor: none !important}
.crsr-nt-alwd {cursor: not-allowed !important}
.crsr-pntr {cursor: pointer !important}
.crsr-prgrs {cursor: progress !important}
.crsr-rw-rsz {cursor: row-resize !important}
.crsr-s-rsz {cursor: s-resize !important}
.crsr-se-rsz {cursor: se-resize !important}
.crsr-sw-rsz {cursor: sw-resize !important}
.crsr-tx {cursor: text !important}
.crsr-w-rsz {cursor: w-resize !important}
.crsr-wait {cursor: wait !important}
.crsr-zmin {cursor: zoom-in !important}
.crsr-zmout {cursor: zoom-out !important}


/* OBJECTS
   —————————————————————— */

/* Object Fit */
.obj-fit-con {object-fit: contain !important}
.obj-fit-cov {object-fit: cover !important}
.obj-fit-fll {object-fit: fill !important}
.obj-fit-no {object-fit: none !important}
.obj-fit-dwn {object-fit: scale-down !important}

/* Object Position */
.obj-pos-top {object-position: top !important}
.obj-pos-end {object-position: right !important}
.obj-pos-btm {object-position: bottom !important}
.obj-pos-str {object-position: left !important}


/* OPACITY
   —————————————————————— */
.opcty0 {opacity: 0 !important}
.opcty25 {opacity: .25 !important}
.opcty50 {opacity: .5 !important}
.opcty75 {opacity: .75 !important}
.opcty100 {opacity: 1 !important}


/* OVERFLOW
   —————————————————————— */
.oflo-auto {overflow: auto !important}
.oflo-vsbl {overflow: visible !important}
.oflo-invsbl {overflow: hidden !important}
.oflo-scroll {overflow: scroll !important}


/* POSITION
   —————————————————————— */

/* Position */
.pstn-stat {position: static !important}
.pstn-rel {position: relative !important}
.pstn-absl {position: absolute !important}
.pstn-fxd {position: fixed !important}
.pstn-stic {position: -webkit-sticky !important; position: sticky !important}

/* Arrange */
.top0 {top: 0 !important}
.top25 {top: 25% !important}
.top50 {top: 50% !important}
.top75 {top: 75% !important}
.top100 {top: 100% !important}
.str0 {left: 0 !important}
.str25 {left: 25% !important}
.str50 {left: 50% !important}
.str75 {left: 75% !important}
.str100 {left: 100% !important}
.btm0 {bottom: 0 !important}
.btm25 {bottom: 25% !important}
.btm50 {bottom: 50% !important}
.btm75 {bottom: 75% !important}
.btm100 {bottom: 100% !important}
.end0 {right: 0 !important}
.end25 {right: 25% !important}
.end50 {right: 50% !important}
.end75 {right: 75% !important}
.end100 {right: 100% !important}

/* Translate */
.trns-x {transform: translateX(-50%) !important}
.trns-mid {transform: translate(-50%, -50%) !important}
.trns-y {transform: translateY(-50%) !important}


/* SCROLL BEHAVIOR
   —————————————————————— */
.scrll-ato {scroll-behavior: auto !important}
.scrll-smth {scroll-behavior: smooth !important}


/* SHADOWS
   —————————————————————— */
.shdw {box-shadow: var(--shadow) !important}
.shdw-sm {box-shadow: var(--shadow-sm) !important}
.shdw-lg {box-shadow: var(--shadow-lg) !important}
.shdw-no {box-shadow: none !important}


/* SIZING
   —————————————————————— */

/* Width */
.w25 {width: 25% !important}
.w50 {width: 50% !important}
.w75 {width: 75% !important}
.w100 {width: 100% !important}
.wat {width: auto !important}
.mw100 {max-width: 100% !important}
.vw100 {width: 100vw !important}
.mv100 {min-width: 100vw !important}

/* Height */
.h25 {height: 25% !important}
.h50 {height: 50% !important}
.h75 {height: 75% !important}
.h100 {height: 100% !important}
.hat {height: auto !important}
.mh100 {max-height: 100% !important}
.vh100 {height: 100vh !important}
.mvh100 {min-height: 100vh !important}


/* TEXT
   —————————————————————— */

/* Text Alignment */
.tx-str {text-align: left !important}
.tx-ctr {text-align: center !important}
.tx-end {text-align: right !important}

/* Text Decoration */
.tx-dcr-no {text-decoration: none !important}
.tx-dcr-uline {text-decoration: underline !important}
.tx-dcr-thru {text-decoration: line-through !important}

/* Text Transform */
.tx-low {text-transform: lowercase !important}
.tx-up {text-transform: uppercase !important}
.tx-cap {text-transform: capitalize !important}

/* Font Size */
.fs1 {font-size: calc(1.375rem + 1.5vw) !important;}
.fs2 {font-size: calc(1.325rem + 0.9vw) !important;}
.fs3 {font-size: calc(1.3rem + 0.6vw) !important;}
.fs4 {font-size: calc(1.275rem + 0.3vw) !important;}
.fs5 {font-size: 1.25rem !important}
.fs6 {font-size: var(--spacer-3) !important}

/* Font Weight & Style */
.fw-litr {font-weight: lighter !important}
.fw-lit {font-weight: 300 !important}
.fw-nrml {font-weight: 400 !important}
.fw-sbld {font-weight: 600 !important}
.fw-bld {font-weight: 700 !important}
.fw-bldr {font-weight: bolder !important}
.fst-ital {font-style: italic !important}
.fst-nrml {font-style: normal !important}

/* Text Truncation */
.tx-trunc {overflow: hidden !important; text-overflow: ellipsis !important; white-space: nowrap !important}


/* SPACING
   —————————————————————— */

/* Margin */
.m0 {margin: 0 !important}
.m1 {margin: var(--spacer-1) !important}
.m2 {margin: var(--spacer-2) !important}
.m3 {margin: var(--spacer-3) !important}
.m4 {margin: var(--spacer-4) !important}
.m5 {margin: var(--spacer-5) !important}
.mt0 {margin-top: 0 !important}
.mt1 {margin-top: var(--spacer-1) !important}
.mt2 {margin-top: var(--spacer-2) !important}
.mt3 {margin-top: var(--spacer-3) !important}
.mt4 {margin-top: var(--spacer-4) !important}
.mt5 {margin-top: var(--spacer-5) !important}
.mr0 {margin-right: 0 !important}
.mr1 {margin-right: var(--spacer-1) !important}
.mr2 {margin-right: var(--spacer-2) !important}
.mr3 {margin-right: var(--spacer-3) !important}
.mr4 {margin-right: var(--spacer-4) !important}
.mr5 {margin-right: var(--spacer-5) !important}
.mb0 {margin-bottom: 0 !important}
.mb1 {margin-bottom: var(--spacer-1) !important}
.mb2 {margin-bottom: var(--spacer-2) !important}
.mb3 {margin-bottom: var(--spacer-3) !important}
.mb4 {margin-bottom: var(--spacer-4) !important}
.mb5 {margin-bottom: var(--spacer-5) !important}
.ml0 {margin-left: 0 !important}
.ml1 {margin-left: var(--spacer-1) !important}
.ml2 {margin-left: var(--spacer-2) !important}
.ml3 {margin-left: var(--spacer-3) !important}
.ml4 {margin-left: var(--spacer-4) !important}
.ml5 {margin-left: var(--spacer-5) !important}

/* Padding */
.p0 {padding: 0 !important}
.p1 {padding: var(--spacer-1) !important}
.p2 {padding: var(--spacer-2) !important}
.p3 {padding: var(--spacer-3) !important}
.p4 {padding: var(--spacer-4) !important}
.p5 {padding: var(--spacer-5) !important}
.pt0 {padding-top: 0 !important}
.pt1 {padding-top: var(--spacer-1) !important}
.pt2 {padding-top: var(--spacer-2) !important}
.pt3 {padding-top: var(--spacer-3) !important}
.pt4 {padding-top: var(--spacer-4) !important}
.pt5 {padding-top: var(--spacer-5) !important}
.pr0 {padding-right: 0 !important}
.pr1 {padding-right: var(--spacer-1) !important}
.pr2 {padding-right: var(--spacer-2) !important}
.pr3 {padding-right: var(--spacer-3) !important}
.pr4 {padding-right: var(--spacer-4) !important}
.pr5 {padding-right: var(--spacer-5) !important}
.pb0 {padding-bottom: 0 !important}
.pb1 {padding-bottom: var(--spacer-1) !important}
.pb2 {padding-bottom: var(--spacer-2) !important}
.pb3 {padding-bottom: var(--spacer-3) !important}
.pb4 {padding-bottom: var(--spacer-4) !important}
.pb5 {padding-bottom: var(--spacer-5) !important}
.pl0 {padding-left: 0 !important}
.pl1 {padding-left: var(--spacer-1) !important}
.pl2 {padding-left: var(--spacer-2) !important}
.pl3 {padding-left: var(--spacer-3) !important}
.pl4 {padding-left: var(--spacer-4) !important}
.pl5 {padding-left: var(--spacer-5) !important}


/* TOUCH ACTION
   —————————————————————— */
.tch-ato {touch-action: auto !important}
.tch-no {touch-action: none !important}
.tch-x {touch-action: pan-x !important}
.tch-y {touch-action: pan-y !important}
.tch-str {touch-action: pan-left !important}
.tch-end {touch-action: pan-right !important}
.tch-up {touch-action: pan-up !important}
.tch-dwn {touch-action: pan-down !important}
.tch-zm {touch-action: pinch-zoom !important}
.tch-man {touch-action: manipulation !important}


/* BORDERS
   —————————————————————— */

/* Additive */
.brdr {border: var(--border) !important}
.brdr-top {border-top: var(--border) !important}
.brdr-end {border-right: var(--border) !important}
.brdr-btm {border-bottom: var(--border) !important}
.brdr-str {border-left: var(--border) !important}

/* Subtractive */
.brdr0 {border: none !important}
.brdr0-top {border-top: none !important}
.brdr0-end {border-right: none !important}
.brdr0-btm {border-bottom: none !important}
.brdr0-str {border-left: none !important}

/* Radius */
.rnd {border-radius: var(--radius) !important}
.rnd-top {border-radius: var(--radius) var(--radius) 0 0 !important}
.rnd-end {border-radius: var(--radius) 0 0 var(--radius) !important}
.rnd-btm {border-radius: 0 0 var(--radius) var(--radius) !important}
.rnd-str {border-radius: 0 var(--radius) var(--radius) 0 !important}
.rnd-circ {border-radius: 50% !important}
.rnd-pill {border-radius: 800px !important}


/* VERTICAL ALIGNMENT
   —————————————————————— */
.vrt-base {vertical-align: baseline !important}
.vrt-top {vertical-align: top !important}
.vrt-mid {vertical-align: middle !important}
.vrt-btm {vertical-align: bottom !important}
.vrt-tx-top {vertical-align: text-top !important}
.vrt-tx-btm {vertical-align: text-bottom !important}


/* VISIBILITY
   —————————————————————— */
.vsbl {visibility: visible !important}
.invsbl {visibility: hidden !important}


/* Z-INDEX
   —————————————————————— */
.zndx0 {z-index: 0 !important}
.zndx1 {z-index: 100 !important}
.zndx2 {z-index: 200 !important}
.zndx3 {z-index: 300 !important}
